.bar {
  * {
    font-family: "Iosevka NF";
    font-size: 0.98em;
    box-shadow: none;
    border: none;
    text-shadow: none;
  }

  .cbox {
    border-radius: 12px;
    background: $bg-dark;
    margin: 0.4em;
    box-shadow: 0 0 2px 2px #000000;
    border: 2px solid $color0;
    padding: 0.2em;
  }

  button {
    padding: 0 0.8em;
    background: $bg-light;
    border-radius: 6px;
    min-width: 2em;

    &:hover {
      background: $hover;
    }
  }

  .clock {
    .icon {
      color: $color14;
    }

    label {
      color: $fg;
    }
  }

  .workspaces {
    background: $bg-light;
    border-radius: 8px;

    button {
      padding: 0;
      color: $color8;
      margin: 2px 0;

      box {
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);
        margin: 0.7em;
        background: $color8;
        border-radius: 1em;
      }

      &.occupied {
        box {
          background: $fg;
        }
      }

      &.active {
        box {
          background: $color3;
          min-width: 2em;
        }
      }

      &:first-child {
        margin-left: 4px;
      }

      &:last-child {
        margin-right: 4px;
      }
    }
  }

  .tray {
    button {
      &:first-child {
        margin-left: 4px;
      }

      &:last-child {
        margin-right: 4px;
      }

      padding: 0px;
      min-width: 24px;
      min-height: 8px;

      margin: 2px 0px;

      image {
        font-size: 10px;
      }

      &:hover {
        color: $hover;
      }
    }

    border-radius: 6px;
    min-width: 32px;
    background: $bg-light;
  }

  .tray-button {
    padding: 0;

    .icon {
      font-size: 1.2em;
      transition: all 0.2s cubic-bezier(1, 1, 1, 1);

      &.showing {
        -gtk-icon-transform: rotate(180deg);
      }
    }
  }

  .control-button {
    .icon {
      &.network {
        color: $color5;
        margin-top: 1px;
      }

      &.volume {
        color: $color2;
      }

      &.power {
        margin-top: 1px;
        font-size: 0.9em;
        color: $color1;
      }
    }
  }
}
