.bar {
  * {
    font-family: "Iosevka NF";
    font-size: 1em;
    box-shadow: none;
  }

  .cbox {
    border-radius: 12px;
    background: $bg-dark;
    margin: 4px;
    box-shadow: 0 0 2px 2px #000000;
    border: 2px solid $color0;
    padding: 0.2em;
  }

  button {
    padding: 0 0.8em;
    background: $bg-light;
    border-radius: 6px;
    min-width: 1.9em;

    &:hover {
      background: $hover;
    }
  }

  .clock {
    .icon {
      color: $color14;
    }

    label {
      color: $fg;
    }
  }

  .workspaces {
    background: $bg-light;
    border-radius: 8px;

    button {
      padding: 0;
      color: $color8;
      margin: 2px 0;

      &:first-child {
        margin-left: 4px;
      }
      &:last-child {
        margin-right: 4px;
      }

      &.occupied {
        color: $fg;
      }

      &.active {
        color: $color3;
      }
    }
  }

  .tray {
    button {
      &:first-child {
        margin-left: 4px;
      }

      &:last-child {
        margin-right: 4px;
      }

      padding: 0px;
      min-width: 24px;
      min-height: 8px;

      margin: 2px 0px;

      image {
        font-size: 10px;
      }

      &:hover {
        color: $hover;
      }
    }

    border-radius: 6px;
    min-width: 32px;
    background: $bg-light;
  }

  .tray-button {
    padding: 0;

    .icon {
      font-size: 1.2em;
      transition: all 0.2s cubic-bezier(1, 1, 1, 1);

      &.showing {
        -gtk-icon-transform: rotate(180deg);
      }
    }
  }

  .network {
    .icon {
      color: $color12;
    }
  }

  .volume {
    .icon {
      color: $color2;
    }

    .muted {
      color: $color8;
    }
  }

  .power-button {
    padding: 0;

    .icon {
      font-size: 0.8em;
      color: $color1;
      margin-left: 1px; // Why do I have to do this dawg
      margin-bottom: 1px; // Why do I have to do this dawg
    }
  }
}
