// Styling GTK calendars is a pain
// I have no clue if I'm doing this right
.cal-win {
  font-family: "JetBrainsMono NF";

  * {
    box-shadow: none;
    outline: none;
  }

  .cal-box {
    box-shadow: 0 0 4px 0 #000000;
    border-radius: 12px;
    border: 4px solid $color0;
    margin: 4;
    font-size: 0.9em;
    background: $bg-dark;

    .cal {
      border-radius: 12px;
      border: none;
      margin: 4px;
    }
  }
}

calendar:selected {
  color: $color2;
  background: transparent;
}

calendar.header {
  color: $color4;
}
