window#power-menu {
  all: unset;
  background: transparent;

  .power-outer-box {
    padding: 0.2em;
    background: $bg-dark;
    margin: 0.8em;
    box-shadow: 0 0 2px 2px #000000;
    border: 2px solid $color0;
    border-radius: 12px;

    label {
      margin: 0.4em;
      padding: 2em;
      border-radius: 12px;
      font-family: "Iosevka NF";
      font-size: 2em;
      color: $fg;
      text-shadow: 0px 0px 4px #000000;
      background-size: cover;
    }
  }

  .power-inner-box {
    background: $bg-dark;
    margin: 0.8em;

    button {
      background: transparent;
      font-size: 2em;
      border-radius: 0.4em;
      padding: 1em;
      box-shadow: none;

      margin: 4px 0px;

      &:focus {
        background: $hover;
      }

      &:hover {
        background: $hover;
      }

      &:nth-child(1) {
        margin-left: 8px;
        color: $color1;
      }

      &:nth-child(2) {
        color: $color2;
      }

      &:nth-child(3) {
        color: $color3;
      }

      &:nth-child(4) {
        margin-right: 8px;
        color: $color4;
      }
    }
  }
}
