* {
  all: unset; }

.bar * {
  font-family: "Iosevka NF";
  font-size: 0.98em; }

.bar .cbox {
  border-radius: 12px;
  background: #191724;
  margin: 0.4em;
  box-shadow: 0 0 2px 2px #000000;
  border: 2px solid #13111e;
  padding: 0.2em; }

.bar button {
  padding: 0.8em 0;
  background: #26233a;
  border-radius: 6px;
  min-width: 2em;
  min-height: 2em; }
  .bar button:hover {
    background: #353340; }

.bar .clock .icon {
  color: #ebbcba; }

.bar .clock label {
  color: #e0def4;
  font-weight: bold; }

.bar .workspaces {
  background: #26233a;
  border-radius: 8px; }
  .bar .workspaces button {
    padding: 0;
    color: #9893a5;
    margin: 0px 2px; }
    .bar .workspaces button box {
      transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);
      margin: 0.7em;
      background: #9893a5;
      border-radius: 1em; }
    .bar .workspaces button.occupied box {
      background: #e0def4; }
    .bar .workspaces button.active box {
      background: #f6c177;
      min-height: 3em; }
    .bar .workspaces button:first-child {
      margin-top: 4px; }
    .bar .workspaces button:last-child {
      margin-bottom: 4px; }

.bar .tray {
  border-radius: 6px;
  min-height: 32px;
  background: #26233a; }
  .bar .tray button {
    padding: 0px;
    min-height: 24px;
    min-width: 8px;
    margin: 0px 2px; }
    .bar .tray button:first-child {
      margin-top: 4px; }
    .bar .tray button:last-child {
      margin-bottom: 4px; }
    .bar .tray button image {
      font-size: 10px; }
    .bar .tray button:hover {
      color: #353340; }

.bar .tray-button {
  padding: 2px 0; }
  .bar .tray-button .icon {
    font-size: 1.2em;
    color: #e0def4;
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
    -gtk-icon-transform: rotate(90deg); }
    .bar .tray-button .icon.showing {
      -gtk-icon-transform: rotate(270deg); }

.bar .control-button .icon.network {
  color: #c4a7e7; }

.bar .control-button .icon.volume {
  color: #31748f; }

.bar .control-button .icon.power {
  font-size: 0.9em;
  color: #eb6f92; }

window#cal-window {
  font-family: "Iosevka NF";
  background: transparent; }
  window#cal-window * {
    box-shadow: none;
    outline: none; }
  window#cal-window .cal-box {
    box-shadow: 0 0 2px 2px #000000;
    border-radius: 12px;
    border: 2px solid #13111e;
    margin: 4;
    background: #191724;
    color: #e0def4;
    font-size: 0.9em;
    padding: 1rem 1rem 0.2rem; }
    window#cal-window .cal-box .cal {
      border-radius: 12px;
      border: none;
      padding: 0.2rem 0.25rem 0rem;
      margin-left: 10px; }
      window#cal-window .cal-box .cal.highlight {
        padding: 10rem; }
  window#cal-window calendar:selected {
    color: #31748f;
    background: transparent; }
  window#cal-window calendar.header {
    color: #ebbcba; }
  window#cal-window calendar {
    background: #191724; }
  window#cal-window calendar:indeterminate {
    color: #26233a; }

window#notifications {
  all: unset;
  font-family: "Iosevka NF"; }
  window#notifications .notifications {
    padding: 0.1px; }
  window#notifications .icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em; }
    window#notifications .icon box {
      min-width: 68px;
      min-height: 68px;
      border-radius: 7px; }
    window#notifications .icon image {
      font-size: 52px;
      margin: 5px;
      margin: 5px;
      color: #e0def4; }
  window#notifications .notification {
    min-width: 330px;
    border-radius: 12px;
    padding: 0.8em;
    margin: 0.4em;
    border: 2px solid #13111e;
    box-shadow: 0 0 2px 2px #000000;
    background-color: #191724; }
  window#notifications .notification.critical {
    border: 2px solid #eb6f92; }
  window#notifications .title {
    color: #e0def4;
    font-weight: bold;
    font-size: 1.1em; }
  window#notifications .body {
    color: #e0def4;
    font-size: 0.9em; }
  window#notifications .actions .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em; }
    window#notifications .actions .action-button:first-child {
      margin-left: 0; }
    window#notifications .actions .action-button:last-child {
      margin-right: 0; }

window#image-window {
  background: transparent; }
  window#image-window .image-box {
    margin: 0.8em;
    border: 2px solid #13111e;
    border-radius: 12px;
    box-shadow: 0 0 4px 4px #000000;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

window#control-panel {
  all: unset; }
  window#control-panel * {
    font-family: "Iosevka NF";
    border: none; }
  window#control-panel .control-box {
    background: #191724;
    margin: 0.4em;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px #000000;
    border: 2px solid #13111e;
    padding: 0.8em; }
  window#control-panel .uptime {
    border-radius: 8px;
    background: #26233a;
    font-size: 0.9em;
    color: #e0def4; }
  window#control-panel .power-box button {
    background: #26233a;
    border-radius: 8px;
    min-width: 2.4em;
    min-height: 2.4em;
    font-size: 0.9em; }
    window#control-panel .power-box button:focus {
      background: #353340; }
    window#control-panel .power-box button:hover {
      background: #353340; }
    window#control-panel .power-box button:nth-child(1) {
      color: #eb6f92; }
    window#control-panel .power-box button:nth-child(2) {
      color: #31748f; }
    window#control-panel .power-box button:nth-child(3) {
      color: #f6c177; }
    window#control-panel .power-box button:nth-child(4) {
      color: #9ccfd8; }
  window#control-panel .audio-slider {
    all: unset;
    background: #26233a;
    padding: 0 0.8em;
    min-width: 25em;
    min-height: 3em;
    border-radius: 8px; }
    window#control-panel .audio-slider .icon {
      margin-right: 0.4em; }
    window#control-panel .audio-slider scale trough {
      background: #9893a5;
      min-height: 0.8em;
      border-radius: 8px; }
      window#control-panel .audio-slider scale trough slider {
        all: unset;
        background: none;
        box-shadow: none;
        border: none; }
      window#control-panel .audio-slider scale trough highlight {
        all: unset;
        border-radius: 16px;
        border: none; }
    window#control-panel .audio-slider.speaker .icon {
      color: #31748f; }
    window#control-panel .audio-slider.speaker scale trough highlight {
      background: #31748f; }
    window#control-panel .audio-slider.microphone .icon {
      color: #9ccfd8; }
    window#control-panel .audio-slider.microphone scale trough highlight {
      background: #9ccfd8; }
  window#control-panel .wifi {
    all: unset;
    padding: 0 0.8em;
    background: #26233a;
    border-radius: 8px;
    min-height: 3em; }
    window#control-panel .wifi .icon {
      color: #c4a7e7; }
    window#control-panel .wifi:hover {
      background: #353340; }
