// colors

$bg-dark: #16161d;
$bg-light: #1f1f28;
$fg: #dcd7ba;
$red: #c34043;
$green: #76946a;
$yellow: #c0a36e;
$blue: #7aa89f;

* {
  font-family: "JetBrainsMono NF";
}

.btns-box {
  background: $bg-dark;
  padding: 3px;

  button {
    border-radius: 0;
    background: $bg-light;
    font-size: 2rem;
    padding: 0 0.8rem;

    &:first-child {
      color: $red;
    }

    &:nth-child(2) {
      color: $green;
    }

    &:nth-child(3) {
      color: $yellow;
    }

    &:nth-child(4) {
      color: $blue;
    }
  }
}

.cal-box {
  font-size: 0.8em;
  padding: 3px;
  background: $bg-dark;

  .cal-inner-box {
    .cal {
      border: none;
      padding: 0.2rem;
    }
  }
}

calendar:selected {
  color: $blue;
  background: transparent;
}
