@import "./colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono NF";
  font-size: 12px;
  box-shadow: none;
}

tooltip>* {
  border: 4px solid #16161d;
  background: @bg_dark;
}

tooltip box {
  border: transparent;
}

window#waybar {
  background-color: transparent;
}

window#waybar>box {
  background: @bg_dark;
  border-radius: 12px;
  border: 4px solid @color0;
  margin-top: 12px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#network,
#battery,
#pulseaudio,
#clock {
  color: @fg;
}

#tray {
  margin-right: 24px;
}

#workspaces {
  background: transparent;
  color: @fg;
}

#workspaces button {
  min-width: 12px;
  min-height: 8px;
  border-radius: 8px;
  margin: 0 2px;
  outline: none;
  color: @fg;
}

#workspaces button.active {
  background: @color6;
  color: @bg_dark;
}

#workspaces button.urgent {
  background: @color1;
  color: @bg_dark;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  color: @color1;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}
